.App {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding : 0 15px;
  min-height: 100vh;
  border-radius: 10px;
  flex-direction: column;
  background-color: #fff;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 800px){
  .App{
    padding: 0 100px;
    margin-top: 5vh;
    min-height: 90vh;
  }
}